@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
    /* color palette for webpage */
    --primary-color: #009cde;
    --secondary-color: #021f41;
    --tertiary-color: #09814a;
    --accent-color: #ff9f1c;
    --accent-color2: #BB342F;
    --light-grey: #edeef0;
    --dark-grey: #2f2f30;
    --background: #fdfdfd;

    --beginner: #09814a;
    --intermediate: #ff9f1c;
    --expert: #ff2e1c;

    /* font styles for webpage */
    --font-heading: "Merriweather", serif;
    --font-paragraph: "Roboto", sans-serif;

    /* sizes */
    --font-base: 20px;
    --small-font: 0.8em;
    --large-font: 1.2em;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-paragraph);
    font-size: var(--font-base);
    color: var(--dark-grey);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 800;
    font-style: normal;
}

main {
    padding: 1.5rem;
}

/* Header Styles */
header {
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--primary-color);
}
.nav-title img {
    width: 5rem;
    height: 5rem;
}
.nav-title h1 {
    font-size: 2rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin: 0;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-item {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin-left: 5rem;
    text-decoration: none;
}
.nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 45px;
    height: 7px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -110%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: var(--primary-color);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
}

/* About Modal */
/* Modal container, initially hidden */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Background with opacity */
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.modal-header h2 {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}
/* Close button */
.close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    padding: 0 10px;
}

/* Modal content */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    text-align: center;
}

/* Motivation Card */
#motivation {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}
.card-motivation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--light-grey);
    border-radius: 4px;
    column-gap: 20px;
    width: 50%;
}
.card-motivation .content {
    display: flex;
    flex-direction: column;
    /* padding: 0 20px 0 20px; */
}
.icon-quote {
    width: 3rem;
    padding: 0 10px;
    color: var(--tertiary-color);
}
.card-quote {
    margin: 0 10px;
    font-size: 1.25rem;
    color: var(--secondary-color);
}
.card-author {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    font-size: 1.75rem;
    color: var(--tertiary-color);
}
.card-category {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--secondary-color);
}
.life {
    background-color: #c492b1;
}
.fitness {
    background-color: #823038;
}
.best {
    background-color: #0d3b66;
}
.change {
    background-color: #a0eade;
}
.success {
    background-color: #7e007b;
}
.attitude {
    background-color: #8acb88;
}
.courage {
    background-color: #fe938c;
}
.failure {
    background-color: #e8c547;
}
.health {
    background-color: #09814a;
}
.inspirational {
    background-color: #5941a9;
}

/* Exercise Cards */

#exercise-cards {
    display: flex;
    margin: 2rem 3rem;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card-title {
    grid-area: title;
}
.card-image {
    grid-area: image;
}
.card-info {
    grid-area: info;
}
.card-content {
    grid-area: content;
}

.card {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 3fr;
    grid-template-rows: 0.15fr 1fr;
    grid-template-areas:
        "image title title"
        "image info content";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    border-radius: 0.5rem;
    column-gap: 10px;
    width: 100%;
}

.card h2 {
    font-size: 1.5rem;
    margin: 10px 20px 0 20px;
}
.card-image {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card-photo {
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}
.alt {
    background-color: var(--secondary-color);
    border-radius: 0.5rem 0 0 0.5rem;
}
.card-info {
    display: flex;
    flex-direction: column;
}
.card-info ul {
    text-align: left;
}
.button-container {
    display: flex;
    justify-content: center;
}
.card-content {
    display: flex;
    padding: 0 20px 15px 0;
}
.card-content p {
    margin: 0;
}

.card-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    border-radius: 0.5rem;
    column-gap: 10px;
    width: 100%;
    padding: 20px 50px;
}
.card-error h2 {
    color: var(--expert);
}

/* Stack columns in a single column */
@media (max-width: 1024px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "image"
            "title"
            "info"
            "content";
    }
    .card-image {
        justify-content: center;
    }
    .card-photo {
        border-radius: 0;
    }
    .card-title {
        text-align: center;
    }
    .card-info {
        justify-content: center;
    }
    .card-content {
        justify-content: center;
        padding: 0 25px 20px 25px;
    }
    .card-content p {
        margin: 0;
    }
}
.exercise-content {
    grid-area: content;
}
.exercise-form {
    grid-area: form;
}
#exerciseInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content form";
    grid-gap: 10px;
    margin: 0 2rem;
}
@media (max-width: 1024px) {
    #exerciseInfo {
        grid-template-columns: 1fr;
        grid-template-areas:
            "content"
            "form";
        grid-gap: 20px;
    }
}
#exerciseInfo .container {
    padding: 0px 2rem;
}
#exerciseInfo .container h2 {
    font-size: 2rem;
    margin: 0;
}
#exerciseInfo .container h3 {
    font-size: 1.5rem;
    margin: 0;
}
#exerciseInfo img {
    width: 70px;
}
#exerciseInfo p {
    margin: 0.25rem 0;
}
#exerciseInfo .container h4 {
    font-size: 1.25rem;
    margin: 1.5rem 0 0 0;
}
.mOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#exerciseForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--secondary-color);
    font-size: 0.8rem;
}

form label.top input,
form label.top textarea,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px var(--dark-grey);
    border-radius: 4px;
    padding: 0.75rem;
    background-color: var(--light-grey);
    width: 100%;
}
select option {
    background-color: var(--light-grey);
}
.required {
    color: red;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--tertiary-color);
    color: white;
    padding: 14px 20px;
    margin: 1rem 0 0.25rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}
button[type="submit"]:hover {
    background-color: #07673b;
}

/* CSS  Button*/
.button-muscle {
    color: #fff;
    background-color: var(--primary-color);
}

.button-muscle:hover {
    background-color: #008cc7;
}
.button-muscle.active {
    background-color: #005f7f;
}

.tag {
    padding: 0.25rem 0.35rem;
    border-radius: 5px;
    color: white;
}
.beginner {
    background-color: var(--beginner);
}
.intermediate {
    background-color: var(--intermediate);
}
.expert {
    background-color: var(--expert);
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-origin: border-box;
    cursor: pointer;
}

#myworkout {
    color: #fff;
    background-color: var(--secondary-color);
    width: 180px;
}
#myworkout:hover {
    background-color: #4d627a;
}

.button-workout {
    color: #fff;
    background-color: var(--tertiary-color);
    width: 50%;
}
.button-workout:hover {
    background-color: #07673b;
}
.remove-workout {
    color: #fff;
    background-color: var(--accent-color2);
    width: 50%;
}
.remove-workout:hover {
    background-color: #952925;
}

.green-check {
    width: auto;
    height: 30px;
    display: none;
    padding-left: 5px;
}
.green-check.active {
    display: block;
}

button[disabled] {
    cursor: not-allowed; 
    opacity: 0.5;        
}

.image-bg{
    background-color: var(--secondary-color);
}
.about-logo {
    width: 3rem;
    height: 3rem;
}